@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter:wght@100..900&family=Montserrat:wght@100..900&family=Roboto:wght@400;500;700&family=Teko:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Inter,sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background-color: #1F1517;
    color: #FFFFFF;
}

